#homepage {

  .container {
    @container-padding-x: 20px;
    width: 100%;
    max-width: 600px + @container-padding-x + @container-padding-x;
    padding-left: @container-padding-x;
    padding-right: @container-padding-x;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .example-1 {
    position: relative;
    padding-left: 50px;
    .kitten-image {
      position: absolute;
      left: 0;
    }
  }
  .example-2 {
    padding-left: 50px;
    .kitten-image {
      width: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .example-3 {

  }
  .example-4 {

  }
  .example-5 {
    .polite-button {
      color: blue;
      border-radius: 500px;
    }
    .desperate-button {
      color: yellow;
      border-radius: 500px;
    }
    .horny-button {
      color: orange;
      border-radius: 500px;
    }
  }
  .example-6 {
    text-align: center;
    .polite-button {
      color: blue;
      background-color: lemonchiffon;
      display: inline-block;
      height: 100px;
      padding: 35px 15px 15px 15px;
    }
    .desperate-button {
      color: deeppink;
      background-color: lemonchiffon;
      display: inline-block;
      height: 100px;
      padding: 35px 15px 15px 15px;
    }
    .horny-button {
      color: orange;
      background-color: lemonchiffon;
      display: inline-block;
      height: 100px;
      padding: 35px 15px 15px 15px;
    }
  }


  .kitten-image {
    width: 50px;
    display: block;
  }

  //  ┌┬┐┌─┐┌┬┐┬┌─┐  ┌─┐ ┬ ┬┌─┐┬─┐┬┌─┐┌─┐
  //  │││├┤  │││├─┤  │─┼┐│ │├┤ ├┬┘│├┤ └─┐
  //  ┴ ┴└─┘─┴┘┴┴ ┴  └─┘└└─┘└─┘┴└─┴└─┘└─┘
  /*@media screen and (max-width: 580px) {

  }*/
}
